.container-create-bathroom {
  width: fit-content;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  overflow-y: scroll;
  padding: 10px 0 0 0;
}

.create-bathroom-form {
  padding: 20px;
  margin: 0 0 10px 0;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 30px #0000005d;
}

.create-bathroom-form input.create-bathroom-input {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.04rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 0 20px 0;
}

.create-bathroom-form label {
  font-size: 1.04rem;
}

.bathroom-price-input {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.04rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 0 0 20px;
}

input[type="checkbox"] {
  appearance: none;
  width: 2ch;
  height: 2ch;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px 0 0;
}

input[type="checkbox"]:checked {
  background-color: #60b3e7; /* Green when checked */
  border-color: #4c8cb4;
}

.container-fields {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.latlon-input {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.04rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 0 20px 0;
  width: 50ch;
}

button {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.04rem;
  background-color: #75caff;
  border: 1px solid #4c8cb4;
  border-radius: 5px;
  margin: 0 0 20px 0;
  width: 50ch;
}

button:hover {
  cursor: pointer;
  background-color: #60b3e7;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  margin: 0 0 20px 0;
}

.drop-container:hover,
.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #60b3e7;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

.submit {
  color: white;
  width: 100%;
  padding: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.04rem;
  margin: 10px 0 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #75caff;
  transition: background-color 0.2s ease;
}

.submit:hover {
  background-color: #60b3e7;
  cursor: pointer;
}
