@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  width: 100vw;
  height: 100vh;
}

main.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8f0ff;
}

form.big-form {
  background-color: white;
  padding: 20px 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 350px;
}

h1.form-title {
  width: 100%;
  text-align: center;
  font-family: "DM sans", sans-serif;
  margin: 0 0 15px 0;
}

form.big-form label {
  font-family: "Roboto", sans-serif;
  font-size: 1.05rem;
  color: #272727;
  margin: 0 0 20px 0;
}

form.big-form input {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.04rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

form.big-form input:focus {
  outline: 1px solid #60b3e7;
}

form.big-form button.submit {
  color: white;
  width: 100%;
  padding: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.04rem;
  margin: 10px 0 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #75caff;
  transition: background-color 0.2s ease;
}

form.big-form button.submit:hover {
  background-color: #60b3e7;
  cursor: pointer;
}

form.big-form p {
  font-family: "DM Sans", sans-serif;
  margin: 10px 0 0 0;
}

strong a {
  color: #75caff;
}
