@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html,
body,
.container {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    background-color: #e8f6ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid #d0edffd5;
}

.logo-container {
    background-image: url('../resources/images/toilethub_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    height: 100%;
    width: 300px;
    transition: filter 0.2s ease;
}

.logo-container:hover {
    background-image: url(../resources/images/toilethub_logo.gif);
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    filter: drop-shadow(0 0 5px #78cbffbe);
}

a.link-create-bathroom {
    margin: 0 auto;
    background-color: #c4e8ff;
    padding: 15px 25px;
    color: #40a6e6;
    border: 2px solid #40a6e6;
    border-radius: 2ch;
    text-decoration: none;
    font-size: 1.1rem;
}

div.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

a.link-profile {
    aspect-ratio: 1 / 1;
    height: 80px;
    padding: 7px;
}

img.image-profile {
    width: 100%;
    height: 100%;
}

.list-grid {
    width: 100%;
    height: calc(100vh - 80px);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    gap: 5px;
}

.bathroom-card-container {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid #0000002d;
    box-shadow: 0 0 10px #0000002d;
    display: flex;
    flex-direction: column;
}

.bathroom-card-image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 /1;
    border-radius: 10px;
}

.bathroom-text-container {
    width: 100%;
    margin: 3px 3px;
}

@media (max-width: 1300px) {
    .list-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 850px) {
    .list-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 300px) {
    .list-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}