@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html,
body,
.container {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 70px;
    background-color: #e8f6ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

header a.link-criarbanheiro {
    margin: 0 auto;
    background-color: #c4e8ff;
    padding: 10px 20px;
    color: #40a6e6;
    border: 2px solid #40a6e6;
    border-radius: 2ch;
    text-decoration: none;
    font-size: 1.05rem;
}