@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html,
body,
.container {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    background-color: #e8f6ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid #d0edffd5;
}

a.link-create-bathroom {
    margin: 0 auto;
    background-color: #c4e8ff;
    padding: 15px 25px;
    color: #40a6e6;
    border: 2px solid #40a6e6;
    border-radius: 2ch;
    text-decoration: none;
    font-size: 1.1rem;
}

div.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

a.link-profile {
    aspect-ratio: 1 / 1;
    height: 80px;
    padding: 7px;
}

img.image-profile {
    width: 100%;
    height: 100%;
}

.list-grid {
    width: 100%;
    height: calc(100vh - 80px);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.bathroom-list-container {
    width: 200px;
    height: 100%;
}


.card-image {
    width: 100%;
    height: 150px;
    /* adjust as needed */
    object-fit: cover;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}