@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body,
.container {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 80px;
  background-color: #e8f6ff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border: 1px solid #d0edffd5;
}

.logo-container {
  background-image: url("../resources/images/toilethub_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  height: 100%;
  width: 300px;
  transition: filter 0.2s ease;
}

.logo-container:hover {
  background-image: url(../resources/images/toilethub_logo.gif);
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  filter: drop-shadow(0 0 5px #78cbffbe);
}

a.link-create-bathroom {
  margin: 0 auto;
  background-color: #c4e8ff;
  padding: 15px 25px;
  color: #40a6e6;
  border: 2px solid #40a6e6;
  border-radius: 2ch;
  text-decoration: none;
  font-size: 1.1rem;
}

div.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

a.link-profile {
  aspect-ratio: 1 / 1;
  height: 80px;
  padding: 7px;
}

img.image-profile {
  width: 100%;
  height: 100%;
}

main.fill {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-grid {
  width: 100%;
  height: calc(100vh - 80px);

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
  gap: 5px;
}

.bathroom-card-container {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid #0000002d;
  box-shadow: 0 0 10px #0000002d;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.bathroom-card-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 /1;
  border-radius: 10px;
}

.bathroom-text-container {
  width: 100%;
  margin: 3px 5px;
  font-size: 1.05rem;
}

.centered-box {
  width: 70%;
  height: 100%;
  border: 1px solid #0000005d;
  border-top: none;
  border-bottom: none;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.slideshow-container {
  width: 40%;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #0000002d;
  background-color: #dfdfdf;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

img {
  border-radius: 20px;
  margin: auto 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px #0000009d);
}

/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #0000009d;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.bathroom-title {
  font-size: 2.2rem;
}

.container-paid-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
}

.paid-text {
  padding: 5px 10px;
  border: 1px solid red;
  color: red;
  background-color: rgba(255, 0, 0, 0.3);
}

.unpaid-text {
  padding: 5px 10px;
  border: 1px solid rgb(0, 200, 0);
  color: rgb(0, 200, 0);
  background-color: rgba(0, 255, 0, 0.3);
}

a {
  text-decoration: none;
}

.maps-link {
  width: 100%;
  padding: 10px;
  background-color: #c4e8ff;
  border: 2px solid #40a6e6;
  border-radius: 100vh;
  font-size: 1.1rem;
  text-align: center;
  color: #2a90cf;
  text-decoration: none;
}

.maps-link:hover {
  background-color: #aee0ff;
}

.comment-container {
  flex: 1;
  margin: 10px 0 0 0;
  overflow-y: scroll;
  padding: 10px;
  border-top: 1px solid #0000002d;
}

.post-comment-container {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  gap: 10px;
  margin: 5px 0 5px 0;
}

.posted-comment {
  margin: 15px 0 0 0;
}

.comment-input {
  flex: 1;
  font-size: 1.05rem;
  border: none;
  border-bottom: 1px solid black;
  padding: 2px;
}

.comment-input:focus {
  border: none;
  border-bottom: 1px solid #2a90cf;
  outline: none;
}

.comment-submit {
  font-size: 1.05rem;
  border: none;
  padding: 3px 5px;
  background-color: #00000052;
  border-radius: 100vh;
}

.comment-submit:hover {
  background-color: #00000082;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .list-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 850px) {
  .list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 300px) {
  .list-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
